:root {
  --alice-blue: #d9f0ff;
  --baby-blue-eyes: #A3D5FF;
  --light-sky-blue: #83C9F4;
  --violet-blue-crayota: #6F73D2;
  --glaucous: #7681B3;
}

.bg-light-sky-blue{
  background-color: var(--light-sky-blue);
}

.grText {
  text-transform: uppercase;
  background: linear-gradient(to right, #83C9F4 0%, #8F79D9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.text-glaucous {
  color: var(--glaucous);
}